* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* Section One */
.boxes {
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.box {
  background-color: rgb(208, 242, 242);
  padding: 30px;
  transition: 1s;
  width: 50%;
}
.box-left,
.box-right {
  display: flex;
  text-align: center;
}
.boxes i {
  font-size: 28px;
  color: green;
}
.boxes h1 {
  margin: 20px;
  /* font-family: 'Grand Hotel', cursive; */
}
.boxes p {
  font-size: 18px;
  font-family: "Grand Hotel", cursive;
}
.box:hover {
  transform: scale(1.1);
  background-color: white;
  border-bottom: 3px solid green;
}
@media screen and (max-width: 767px) {
  .boxes {
    flex-direction: column;
  }
  .box-left,
  .box-right {
    flex-direction: column;
    align-items: center;
  }
}
/* Section Two */
.content-section {
  display: flex;
}
.content-section {
  padding: 80px;
  column-gap: 50px;
}
.bottom {
  width: 50%;
}
.top {
  transition: all 1s;
  width: 50%;
  border: 5px solid green;
  z-index: 1;
}
.top img {
  width: 100%;
  height: 100%;
}
.top:hover {
  transform: scale(1.1);
}
.bottom {
  line-height: 2;
}
.bottom h1 {
  font-family: "Grand Hotel", cursive;
  color: green;
  font-size: 26px;
}
.bottom p {
  color: gray;
}
.bottom button {
  margin-top: 10px;
  width: 200px;
  padding: 10px;
  background-color: green;
  outline: none;
  color: white;
  letter-spacing: 2px;
}
.bottom button:hover {
  background-color: rgb(117, 228, 117);
  color: black;
  border: transparent;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .content-section {
    flex-direction: column;
    align-items: center;
  }
}

/* Section Three */
#section-three {
  background-color: rgb(198, 240, 226);
}
.boxes-1 {
  display: flex;
  padding: 60px;
  column-gap: 20px;
}
.boxes-1 .drink {
  width: 25%;
}
.drink img {
  width: 100%;
  border-radius: 5px;
}
.drink h1:nth-child(1) {
  font-family: "Grand Hotel", cursive;
  color: green;
  font-size: 26px;
}
.drink p {
  color: gray;
}
.drink {
  line-height: 2;
}
.drink span {
  color: green;
}
.drink button {
  margin-top: 10px;
  width: 150px;
  padding: 10px;
  background-color: green;
  outline: none;
  color: white;
  letter-spacing: 2px;
}
@media screen and (max-width: 767px) {
  .boxes-1 {
    flex-wrap: wrap;
    text-align: center;
    row-gap: 20px;
  }
  .boxes-1 .drink {
    width: 100%;
  }
  .drink img {
    width: 50%;
  }
}

/* SECTION FOUR */
.content{
  text-align: center;
  margin: 20px;
}
.content h2{
  color: green;
  margin: 10px;
}
.content-section-2{
  display: flex;
  text-align: center;
}
.boxes-2{
  position: relative;
}
.content-section-2 i{
  background-color: greenyellow;
  border: 4px solid wheat;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 45%;
}

.content-section-2 .card{
  border-radius: 2px;
  padding: 50px;
}
.custom{
  background-color: rgb(193, 235, 235);
}
.card img{
 width: 100%;
 column-gap: 10px;
}
.card button{
  margin: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: green;
  color: white;

}
@media screen and (max-width:1023px){
  .content-section-2{
      flex-direction: column;
      align-items: center;
  }
  .content-section-2 .card{
    align-items: center;
  width: 50%;
  }
}

/* SECTION FIVE */
#section-five{
  background-color: rgb(199, 227, 227);
}
.form-input{
  display: flex;
  padding: 80px;
}
.left-1, .right-1{
  width: 50%;
}

.left-1 i, .left-1 span{
  color: green;
  font-size: 26px;
  padding: 10px;
}
.address{
  width: 50%;
  line-height: 2;
}
.right-1 .form h2{
  text-align: center;
  margin-bottom: 20px;
}

.form .contact{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.right-1{
  background-color: white;
  border-radius: 8px;
  padding: 40px;
}
.contact input, .contact textarea{
  background-color: rgb(199, 227, 227) ;
  border: transparent;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}

.right-1 button{
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  background-color: green;
  color: white;
  letter-spacing: 2px;
}
.right-1 button:hover{
  background-color: rgb(117, 228, 117);
  color: black;
  border: transparent;
  cursor: pointer;
}
@media screen and (max-width:767px){
  .form-input{
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}