*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
header nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul{
  padding: 20px;
  display: flex;
  column-gap: 30px;
}
header nav ul li a{
  color: black;
  font-size: 28px;
}
header{
  border-bottom: 2px solid black;
}
.section {
  display: flex;
  padding: 30px;
}
.aside{
  width: 20%;
}
.aside nav ul li a{
  color: black;
 font-size: 20px;
}
.aside nav ul li span{
  color: gray;
}
.main{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}
.main .image img{
  width: 100%;
}
.main .image{
  width: 30%;
}
.shoe{
  display: flex;
  justify-content: space-between;
}
.image p{
  color: gray;
  padding: 5px;
}