* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

#header {
  background-image: url(".//image/backkground-url.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3rem 0;
}

.header nav ul li a:hover{
  border-bottom: 2px solid white;
}
.herro-banner {
  position: relative;
}
.herro-banner-section {
  position: absolute;
  top: 50%;
  right: 25%;
}

@media screen and (max-width:767px){
  .herro-banner-section{
    position: static;
    text-align: center;
  }
}

.section-card {
  position: relative;
}
.section-card img:hover{
    opacity: 0.7;
    cursor: pointer;
}
.section-card .image {
  position: absolute;
  bottom: 20%;
}
.section-card .image-2{
  position: absolute;
  bottom: 10%;
}
@media screen and (max-width:767px){
  .section-h1{
    text-align: center;
  }
}
#footer {
  background-color: black;
  padding: 2.5rem 0;
}
.footer-icons i{
    padding: 10px;
   color: white;
   font-size: 26px;
   border-bottom: 2px solid transparent;
}
.footer-icons i:hover{
  border-bottom: solid white;
}