*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    border: 2px solid;
}
.boxes{
    display: flex;
    margin: 10px;
    column-gap: 30px;
  
}
.boxes .box{
    width: 100%;
    height: 15vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

}