*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    background-color: bisque;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
header .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.social-icons i:hover{
    color: orange;
}
.social-icons i{
    cursor: pointer;
}
header .header nav ul{
    display: flex;
    column-gap: 30px; 
}
.header nav ul li a{
    color: black;
    padding: 10px;
}
.header nav ul li a:hover{
     color: orange;
     border-radius: 20px;
}
#hero-banner{
    background-color: bisque;
}
#hero-banner .hero-banner{
    display:flex ;
    align-items: center;
    padding: 50px 0px;
}
#hero-banner .hero-banner .hero-banner-content,
#hero-banner .hero-banner .hero-banner-img{
    width: 50%;
}
#hero-banner .hero-banner .hero-banner-img img{
    width: 100%;
    border-radius: 10px;
    position: relative;
    bottom: 30px;
    right: 30px;
}
#hero-banner .hero-banner .hero-banner-img .border{
    width: 50%;
    border: 3px solid orange;
    border-radius: 10px;
}
#hero-banner .hero-banner .hero-banner-img {
    display: flex;
    justify-content: center; 
}
.hero-banner-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
}
.hero-banner-content .line{
    border: 2px solid orange;
    width: 40%;
}
.hero-banner-name{
    font-size: 48px;
}
.hero-banner-content .here{
 width: 100px;
 height: 40px;
    color: black;
    background-color: orange;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.hero-banner-content .here:hover{
    color: black;
    background-color: transparent;
    border: 2px solid orange;
}
.hero-banner-content .social-icons{
    display: flex;
    column-gap: 30px;
}
#about .about{
    display:flex ;
    align-items: center;
    padding: 50px 0px;
}
#about .about .about-img,
#about .about .about1{
    width: 50%;
}
#about .about .about-img img{
    width: 100%;
    border-radius: 10px;
    position: relative;
    bottom: 20px;
    left: 20px;
}
.about1 p{
    color: blue;
    font-family: 'Roboto', sans-serif;
}
#about .about .about-img .border2{
    width: 50%;
    border: 3px solid orange;
    border-radius: 10px;
}
#about .about .about-img{
    display: flex;
    justify-content: center; 
}
.about1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
}
.name1{
    font-size: 48x;
}
.about1 .linee{
    border: 2px solid orange;
    width: 60%;
}

.about1 .aboutme {
    width: 100px;
    height: 40px;
       color: black;
       background-color: orange;
       border-radius: 5px;
       border: none;
       cursor: pointer;
}
.about1 .aboutme:hover{
    color: black;
    background-color: transparent;
    border: 2px solid orange;
}
#services{
    background-color: skyblue;
}
#services .servis{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact{
    background-color: bisque;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact .email{
    font-size: 36px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact .lorem{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lorem p{
    padding: 10px;
    font-family: 'Roboto', sans-serif;

}
.lorem a{
    color: orange;
}
.email .line4{
    border: 2px solid orange;
    width: 40px;
}


.design{
    padding: 50px 0;
    width: 100%;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.design .web{
    text-align: center;
    padding: 30px;
    border: none;
    background-color: white;
}
.design .web .develop{
    padding: 30px;
}
footer{
    background-color: black;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons i{
    padding: 20px 10px 0 10px;
    color: yellow;  
}
.footer p{
    padding: 20px 0;
    text-align: center;
    color: gray;
}
#services .servis .line2{
    border: 2px solid orange;
    width: 40px;
}
.develop .line3{
    border: 2px solid orange;
    width: 40px;  
}
.develop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}