*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
body{
    background-color: blueviolet;
}

.boxes{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
}
.content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    border-radius: 5px;
    background-color: white;
    transition: all 0.5s ease;
}
.box i{
    display: flex;
    justify-content: center;
    font-size: 48px;
    padding: 30px;
    color: rgb(17, 147, 147);
}
/* .box i:hover{
    cursor: pointer;
    transform: scale(1.2);
 
} */
.boxes .box:hover{
    cursor: pointer;
    border-radius: 50%;
 transform: rotate(360deg);


}