*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    flex-direction: column;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(19, 112, 149);
    border-radius: 2px;
}
.top{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.home-about{
    display: flex;
    width: 50%;
    column-gap: 10px;
    margin-right: 10px;
}
.home{
    width: 100%;
    height: 200px;
}
.right{
    width: 50%;
}
.leftfooter{
    display: flex;
    width: 100%;
    column-gap: 10px;
}
.left-box{
    width: 25%;
    height: 100px;
}
.projects{
    width: 100%;
    height: 100px;
    margin: 10px 0;
}
.bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-1{
    width: 50%;
    margin-right: 10px;
}
.pricing{
    height: 100px;
    margin-bottom: 10px;

}
.blog-container{
    display: flex;
    width: 100%;
    gap: 10px;
}
.blog{
    width: 25%;
    height: 100px;
}
.events{
    width: 50%;
    height: 200px;
    margin-top: 10px;
}

@media screen and (max-width: 1023px){
    .top{
        flex-direction: column;
    }
    .bottom{
        flex-direction: column;
    }
    .box{
        background-color: green;
    }
    
}