* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin-top: 10px;
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.box {
  padding: 50px 0;
  width: 100%;
  text-transform: capitalize;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(19, 112, 149);
  border-radius: 2px;
}
.top{
  display: flex;
gap: 20px;
}
.home-about{
  display: flex;
  gap: 20px;
}
.home-about, .right{
  width: 100%;
}
.right{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.leftfooter{
  display: flex;
  gap: 20px;
}
.bottom{
  display: flex;
gap: 20px;
}
.blog-1{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.blog-1, .events{
  width: 100%;
}
.blog-container{
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1023px){
  .top{
    flex-direction: column;
  }
  .box{
    background-color: green;
  }
  .home-about, .right{
    width: 50%;
  }
  .bottom{
    flex-direction: column;
  }
  .blog-1, .events{
    width: 50%;
  }
}
@media screen and (max-width:767px){
  .home-about{
    flex-direction: column;
  }
  .box{
    background-color: red;
  }
  .leftfooter{
    flex-direction: column;
  }
  .blog-container{
    flex-direction: column;
  }
}